WebSites/Appointment System/App_WebReferences/MyService/UserWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="adminLoginCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="adminLoginCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="adminLoginCheckResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="changeAdminPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="oldpassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newpassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeAdminPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="changeAdminPasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lecturerChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="oldpassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newpassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lecturerChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lecturerChangePasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="studentChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="oldpassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newpassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="studentChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="studentChangePasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkSUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkSUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkSUsernameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkPUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkPUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkPUsernameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="studentRegistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="studentRegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="studentRegistrationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="professorRegistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="professorRegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="professorRegistrationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addStudentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addStudentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addStudentInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addProfessorInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="did" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addProfessorInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addProfessorInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LecturerLoginCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LecturerLoginCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LecturerLoginCheckResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentLoginCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentLoginCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentLoginCheckResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeLecturerPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="oldpassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newpassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeLecturerPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="changeLecturerPasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setNonWorkingDays">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="t" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setNonWorkingDaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setNonWorkingDaysResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteNonWorkingDays">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="t" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteNonWorkingDaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteNonWorkingDaysResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNonNonWorkingDays">
        <s:complexType />
      </s:element>
      <s:element name="getNonNonWorkingDaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNonNonWorkingDaysResult" type="tns:ArrayOfDateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDateTime">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="dateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="getDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDepartmentResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setappointmenttime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="starttime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="duration" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="vol" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="restriction" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setappointmenttimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setappointmenttimeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="makeStudentAppointment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="aid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="st" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="et" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="asid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="makeStudentAppointmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="makeStudentAppointmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAppointmentID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAppointmentIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getAppointmentIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStudentNameById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStudentNameByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStudentNameByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNonRegisteredStudentId">
        <s:complexType />
      </s:element>
      <s:element name="getNonRegisteredStudentIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNonRegisteredStudentIdResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNonRegisteredProfessorId">
        <s:complexType />
      </s:element>
      <s:element name="getNonRegisteredProfessorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNonRegisteredProfessorIdResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="adminLoginCheckSoapIn">
    <wsdl:part name="parameters" element="tns:adminLoginCheck" />
  </wsdl:message>
  <wsdl:message name="adminLoginCheckSoapOut">
    <wsdl:part name="parameters" element="tns:adminLoginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="changeAdminPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:changeAdminPassword" />
  </wsdl:message>
  <wsdl:message name="changeAdminPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:changeAdminPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="lecturerChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:lecturerChangePassword" />
  </wsdl:message>
  <wsdl:message name="lecturerChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:lecturerChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="studentChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:studentChangePassword" />
  </wsdl:message>
  <wsdl:message name="studentChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:studentChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="checkSUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:checkSUsername" />
  </wsdl:message>
  <wsdl:message name="checkSUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:checkSUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="checkPUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:checkPUsername" />
  </wsdl:message>
  <wsdl:message name="checkPUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:checkPUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="studentRegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:studentRegistration" />
  </wsdl:message>
  <wsdl:message name="studentRegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:studentRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="professorRegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:professorRegistration" />
  </wsdl:message>
  <wsdl:message name="professorRegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:professorRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="addStudentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:addStudentInfo" />
  </wsdl:message>
  <wsdl:message name="addStudentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:addStudentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="addProfessorInfoSoapIn">
    <wsdl:part name="parameters" element="tns:addProfessorInfo" />
  </wsdl:message>
  <wsdl:message name="addProfessorInfoSoapOut">
    <wsdl:part name="parameters" element="tns:addProfessorInfoResponse" />
  </wsdl:message>
  <wsdl:message name="LecturerLoginCheckSoapIn">
    <wsdl:part name="parameters" element="tns:LecturerLoginCheck" />
  </wsdl:message>
  <wsdl:message name="LecturerLoginCheckSoapOut">
    <wsdl:part name="parameters" element="tns:LecturerLoginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="StudentLoginCheckSoapIn">
    <wsdl:part name="parameters" element="tns:StudentLoginCheck" />
  </wsdl:message>
  <wsdl:message name="StudentLoginCheckSoapOut">
    <wsdl:part name="parameters" element="tns:StudentLoginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="changeLecturerPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:changeLecturerPassword" />
  </wsdl:message>
  <wsdl:message name="changeLecturerPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:changeLecturerPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="setNonWorkingDaysSoapIn">
    <wsdl:part name="parameters" element="tns:setNonWorkingDays" />
  </wsdl:message>
  <wsdl:message name="setNonWorkingDaysSoapOut">
    <wsdl:part name="parameters" element="tns:setNonWorkingDaysResponse" />
  </wsdl:message>
  <wsdl:message name="deleteNonWorkingDaysSoapIn">
    <wsdl:part name="parameters" element="tns:deleteNonWorkingDays" />
  </wsdl:message>
  <wsdl:message name="deleteNonWorkingDaysSoapOut">
    <wsdl:part name="parameters" element="tns:deleteNonWorkingDaysResponse" />
  </wsdl:message>
  <wsdl:message name="getNonNonWorkingDaysSoapIn">
    <wsdl:part name="parameters" element="tns:getNonNonWorkingDays" />
  </wsdl:message>
  <wsdl:message name="getNonNonWorkingDaysSoapOut">
    <wsdl:part name="parameters" element="tns:getNonNonWorkingDaysResponse" />
  </wsdl:message>
  <wsdl:message name="getDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:getDepartment" />
  </wsdl:message>
  <wsdl:message name="getDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:getDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="setappointmenttimeSoapIn">
    <wsdl:part name="parameters" element="tns:setappointmenttime" />
  </wsdl:message>
  <wsdl:message name="setappointmenttimeSoapOut">
    <wsdl:part name="parameters" element="tns:setappointmenttimeResponse" />
  </wsdl:message>
  <wsdl:message name="makeStudentAppointmentSoapIn">
    <wsdl:part name="parameters" element="tns:makeStudentAppointment" />
  </wsdl:message>
  <wsdl:message name="makeStudentAppointmentSoapOut">
    <wsdl:part name="parameters" element="tns:makeStudentAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="getAppointmentIDSoapIn">
    <wsdl:part name="parameters" element="tns:getAppointmentID" />
  </wsdl:message>
  <wsdl:message name="getAppointmentIDSoapOut">
    <wsdl:part name="parameters" element="tns:getAppointmentIDResponse" />
  </wsdl:message>
  <wsdl:message name="getStudentNameByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getStudentNameById" />
  </wsdl:message>
  <wsdl:message name="getStudentNameByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getStudentNameByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getNonRegisteredStudentIdSoapIn">
    <wsdl:part name="parameters" element="tns:getNonRegisteredStudentId" />
  </wsdl:message>
  <wsdl:message name="getNonRegisteredStudentIdSoapOut">
    <wsdl:part name="parameters" element="tns:getNonRegisteredStudentIdResponse" />
  </wsdl:message>
  <wsdl:message name="getNonRegisteredProfessorIdSoapIn">
    <wsdl:part name="parameters" element="tns:getNonRegisteredProfessorId" />
  </wsdl:message>
  <wsdl:message name="getNonRegisteredProfessorIdSoapOut">
    <wsdl:part name="parameters" element="tns:getNonRegisteredProfessorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="UserWebServiceSoap">
    <wsdl:operation name="adminLoginCheck">
      <wsdl:input message="tns:adminLoginCheckSoapIn" />
      <wsdl:output message="tns:adminLoginCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changeAdminPassword">
      <wsdl:input message="tns:changeAdminPasswordSoapIn" />
      <wsdl:output message="tns:changeAdminPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="lecturerChangePassword">
      <wsdl:input message="tns:lecturerChangePasswordSoapIn" />
      <wsdl:output message="tns:lecturerChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="studentChangePassword">
      <wsdl:input message="tns:studentChangePasswordSoapIn" />
      <wsdl:output message="tns:studentChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkSUsername">
      <wsdl:input message="tns:checkSUsernameSoapIn" />
      <wsdl:output message="tns:checkSUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkPUsername">
      <wsdl:input message="tns:checkPUsernameSoapIn" />
      <wsdl:output message="tns:checkPUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="studentRegistration">
      <wsdl:input message="tns:studentRegistrationSoapIn" />
      <wsdl:output message="tns:studentRegistrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="professorRegistration">
      <wsdl:input message="tns:professorRegistrationSoapIn" />
      <wsdl:output message="tns:professorRegistrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addStudentInfo">
      <wsdl:input message="tns:addStudentInfoSoapIn" />
      <wsdl:output message="tns:addStudentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addProfessorInfo">
      <wsdl:input message="tns:addProfessorInfoSoapIn" />
      <wsdl:output message="tns:addProfessorInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LecturerLoginCheck">
      <wsdl:input message="tns:LecturerLoginCheckSoapIn" />
      <wsdl:output message="tns:LecturerLoginCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StudentLoginCheck">
      <wsdl:input message="tns:StudentLoginCheckSoapIn" />
      <wsdl:output message="tns:StudentLoginCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changeLecturerPassword">
      <wsdl:input message="tns:changeLecturerPasswordSoapIn" />
      <wsdl:output message="tns:changeLecturerPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setNonWorkingDays">
      <wsdl:input message="tns:setNonWorkingDaysSoapIn" />
      <wsdl:output message="tns:setNonWorkingDaysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteNonWorkingDays">
      <wsdl:input message="tns:deleteNonWorkingDaysSoapIn" />
      <wsdl:output message="tns:deleteNonWorkingDaysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNonNonWorkingDays">
      <wsdl:input message="tns:getNonNonWorkingDaysSoapIn" />
      <wsdl:output message="tns:getNonNonWorkingDaysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDepartment">
      <wsdl:input message="tns:getDepartmentSoapIn" />
      <wsdl:output message="tns:getDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setappointmenttime">
      <wsdl:input message="tns:setappointmenttimeSoapIn" />
      <wsdl:output message="tns:setappointmenttimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="makeStudentAppointment">
      <wsdl:input message="tns:makeStudentAppointmentSoapIn" />
      <wsdl:output message="tns:makeStudentAppointmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAppointmentID">
      <wsdl:input message="tns:getAppointmentIDSoapIn" />
      <wsdl:output message="tns:getAppointmentIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStudentNameById">
      <wsdl:input message="tns:getStudentNameByIdSoapIn" />
      <wsdl:output message="tns:getStudentNameByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNonRegisteredStudentId">
      <wsdl:input message="tns:getNonRegisteredStudentIdSoapIn" />
      <wsdl:output message="tns:getNonRegisteredStudentIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNonRegisteredProfessorId">
      <wsdl:input message="tns:getNonRegisteredProfessorIdSoapIn" />
      <wsdl:output message="tns:getNonRegisteredProfessorIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserWebServiceSoap" type="tns:UserWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="adminLoginCheck">
      <soap:operation soapAction="http://tempuri.org/adminLoginCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeAdminPassword">
      <soap:operation soapAction="http://tempuri.org/changeAdminPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lecturerChangePassword">
      <soap:operation soapAction="http://tempuri.org/lecturerChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="studentChangePassword">
      <soap:operation soapAction="http://tempuri.org/studentChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkSUsername">
      <soap:operation soapAction="http://tempuri.org/checkSUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPUsername">
      <soap:operation soapAction="http://tempuri.org/checkPUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="studentRegistration">
      <soap:operation soapAction="http://tempuri.org/studentRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="professorRegistration">
      <soap:operation soapAction="http://tempuri.org/professorRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStudentInfo">
      <soap:operation soapAction="http://tempuri.org/addStudentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProfessorInfo">
      <soap:operation soapAction="http://tempuri.org/addProfessorInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LecturerLoginCheck">
      <soap:operation soapAction="http://tempuri.org/LecturerLoginCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentLoginCheck">
      <soap:operation soapAction="http://tempuri.org/StudentLoginCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeLecturerPassword">
      <soap:operation soapAction="http://tempuri.org/changeLecturerPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setNonWorkingDays">
      <soap:operation soapAction="http://tempuri.org/setNonWorkingDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteNonWorkingDays">
      <soap:operation soapAction="http://tempuri.org/deleteNonWorkingDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNonNonWorkingDays">
      <soap:operation soapAction="http://tempuri.org/getNonNonWorkingDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepartment">
      <soap:operation soapAction="http://tempuri.org/getDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setappointmenttime">
      <soap:operation soapAction="http://tempuri.org/setappointmenttime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeStudentAppointment">
      <soap:operation soapAction="http://tempuri.org/makeStudentAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppointmentID">
      <soap:operation soapAction="http://tempuri.org/getAppointmentID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudentNameById">
      <soap:operation soapAction="http://tempuri.org/getStudentNameById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNonRegisteredStudentId">
      <soap:operation soapAction="http://tempuri.org/getNonRegisteredStudentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNonRegisteredProfessorId">
      <soap:operation soapAction="http://tempuri.org/getNonRegisteredProfessorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserWebServiceSoap12" type="tns:UserWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="adminLoginCheck">
      <soap12:operation soapAction="http://tempuri.org/adminLoginCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeAdminPassword">
      <soap12:operation soapAction="http://tempuri.org/changeAdminPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lecturerChangePassword">
      <soap12:operation soapAction="http://tempuri.org/lecturerChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="studentChangePassword">
      <soap12:operation soapAction="http://tempuri.org/studentChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkSUsername">
      <soap12:operation soapAction="http://tempuri.org/checkSUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPUsername">
      <soap12:operation soapAction="http://tempuri.org/checkPUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="studentRegistration">
      <soap12:operation soapAction="http://tempuri.org/studentRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="professorRegistration">
      <soap12:operation soapAction="http://tempuri.org/professorRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStudentInfo">
      <soap12:operation soapAction="http://tempuri.org/addStudentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProfessorInfo">
      <soap12:operation soapAction="http://tempuri.org/addProfessorInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LecturerLoginCheck">
      <soap12:operation soapAction="http://tempuri.org/LecturerLoginCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentLoginCheck">
      <soap12:operation soapAction="http://tempuri.org/StudentLoginCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeLecturerPassword">
      <soap12:operation soapAction="http://tempuri.org/changeLecturerPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setNonWorkingDays">
      <soap12:operation soapAction="http://tempuri.org/setNonWorkingDays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteNonWorkingDays">
      <soap12:operation soapAction="http://tempuri.org/deleteNonWorkingDays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNonNonWorkingDays">
      <soap12:operation soapAction="http://tempuri.org/getNonNonWorkingDays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepartment">
      <soap12:operation soapAction="http://tempuri.org/getDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setappointmenttime">
      <soap12:operation soapAction="http://tempuri.org/setappointmenttime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeStudentAppointment">
      <soap12:operation soapAction="http://tempuri.org/makeStudentAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppointmentID">
      <soap12:operation soapAction="http://tempuri.org/getAppointmentID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudentNameById">
      <soap12:operation soapAction="http://tempuri.org/getStudentNameById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNonRegisteredStudentId">
      <soap12:operation soapAction="http://tempuri.org/getNonRegisteredStudentId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNonRegisteredProfessorId">
      <soap12:operation soapAction="http://tempuri.org/getNonRegisteredProfessorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserWebService">
    <wsdl:port name="UserWebServiceSoap" binding="tns:UserWebServiceSoap">
      <soap:address location="http://localhost:2594/AppointmentServices/UserWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserWebServiceSoap12" binding="tns:UserWebServiceSoap12">
      <soap12:address location="http://localhost:2594/AppointmentServices/UserWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>